<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>types</key>
	<array>
		<dict>
			<key>type</key>
			<string>Jumps</string>
			<key>image</key>
			<string>jump filled</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Positions</string>
			<key>image</key>
			<string>position</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Special motions</string>
			<key>image</key>
			<string>special movement</string>
		</dict>
		<dict>
			<key>type</key>
			<string>Locations of ball catch</string>
			<key>image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
